.mainnav {
	position: relative;
	z-index: 5;
	list-style: none;
	padding: 0;
	margin: .5rem 0 0 0;

	@media only screen and (min-width: $lap) { 
		position: absolute;
		bottom: 1rem;
		left: .5rem;
		right: .5rem;
		margin-top: 0;
	}
}

	.mainnav__item {
		position: relative;
		height: $spacing-double;
		overflow: hidden;
		border-bottom: 1px solid $color-text-green;
		font-size: $font-size-small;

		//@include vendor(transition, all .5s linear);

		a {
			position: absolute;
			top: 0;

			display: block;
			width: 100%;
			height: 100%;
			z-index: 2;
			padding: .5rem;

			color: $color-text-green;
			text-decoration: none;
			border:none;

			@include vendor(transition, all .2s linear);

			&:hover, &:focus {
				color: $color-white;
			}
		}

		&::after {
			content: '';

			position: absolute;
			top: 100%;

			display: block;
			width: 100%;
			height: 100%;
			padding: $spacing-half;

			//background: rgba($color-black, .8);
			background: rgba($color-text-green, .8);
			@include vendor(transition, none);
			
		}

		&:hover {

			&::after {
				@include vendor(transform, translateY(-210%));
				@include vendor(transition, all .3s linear);
			}
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.mainnav__item--secondary {
		border-bottom: 1px solid $color-text-pink-dark;

		a {
			color: $color-text-pink-dark;
			text-decoration: none;
		}

		&:hover {
			background: rgba($color-text-pink-dark,.8);

			a {
				color: $color-black;
			} 
		}
	}