.mainnav {
	position: relative;
	//z-index: 5;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: rgba($color-text-green, .8);

	@media only screen and (min-width: $lap) { 
		//position: absolute;
		//bottom: 1rem;
		//left: .5rem;
		//right: .5rem;
		margin-top: 0;
	}
}

	.mainnav__item {
		position: relative;
		height: $spacing-double;
		margin-bottom: 0;
		//overflow: hidden;
		//border-bottom: 1px solid $color-text-green;
		font-size: $font-size-small;


		//@include vendor(transition, all .5s linear);

		a {
			position: absolute;
			top: 0;

			display: block;
			width: 100%;
			height: 100%;
			z-index: 2;
			padding: .5rem;

			color: $color-black;
			text-decoration: none;
			border:none;

			@include vendor(transition, all .2s linear);

			&:hover, &:focus {
				//color: $color-white;
				//padding-left: 1rem;

			}
		}

		&::after {
			content: '';

			position: absolute;
			top: $spacing;

			display: block;
			width: 100%;
			height: $spacing-double;
			//padding: $spacing-half;

			//background: rgba($color-black, .8);
			background: rgba($color-white, .8);
			opacity: 0;
			//@include vendor(transition, none);
			@include vendor(transition, all .5s ease-in);
			
		}

		&:hover {

			&::after {
				opacity: 1;
				@include vendor(transform, translateY(-$spacing));
				
			}
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.mainnav__item--secondary {
		border-bottom: 1px solid $color-text-pink-dark;

		a {
			color: $color-text-pink-dark;
			text-decoration: none;
		}

		&:hover {
			a {
				color: $color-black;
			} 
		}
	}