.mainnav {
	position: relative;
	z-index: 5;
	list-style: none;
	padding: 0;
	margin: $spacing 0 0 0;

	@media only screen and (min-width: $lap) { 
		position: absolute;
		bottom: 5%;
		left: 5%;
		right: 5%;
		margin-top: 0;
	}
}

	.mainnav__item {
		border-bottom: 1px solid $color-text-green;
		font-size: $font-size-small;
		padding: $spacing-half;
		@include vendor(transition, background-color .2s linear);

		a {
			color: $color-text-green;
			text-decoration: none;
			border:none;
			display: block;
			width: 100%;
			height: 100%;
			padding-left: .5em;
		}

		&:hover {
			background: rgba($color-text-green, .8);

			a {
				color: $color-black;
			} 
		}
	}

	.mainnav__item--secondary {
		border-bottom: 1px solid $color-text-pink-dark;

		a {
			color: $color-text-pink-dark;
			text-decoration: none;
		}

		&:hover {
			background: rgba($color-text-pink-dark,.8);

			a {
				color: $color-black;
			} 
		}
	}