.screen-home {
	background: url('./../images/screens/baustelle_blau.jpg') no-repeat 100% 50%;
	background-size: cover;
}

.screen-project {
	background: url('./../images/screens/horizon.jpg') no-repeat 60% 50%;
	background-size: cover;
}