.screen--home {
	background: url('./../images/screens/baustelle_blau.jpg') no-repeat 100% 50%;
	background-size: cover;
}
.screen--projecten {
	background: url('./../images/screens/launch-2.jpg') no-repeat 60% 50%;
	background-size: cover;
}

.screen--single-project {
	background: url('./../images/screens/horizon.jpg') no-repeat 60% 50%;
	background-size: cover;
}

.screen--about {
	background: url('./../images/screens/lander.jpg') no-repeat 30% 50%;
	background-size: cover;
}

.screen--contact {
	background: url('./../images/screens/capsule.jpg') no-repeat 50%;
	background-size: cover;
}
