.seethrough {
	background-position: 0 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;	

	&--cloud {
		background-image: url('./../images/screens/above-clouds.jpg');
	}

	&--earth {
		background-image: url('./../images/screens/moon-view.jpg');
	}

	&--moon {
		background-image: url('./../images/screens/238403main_moon.jpg');
	}

	&--stars {
		background-image: url('./../images/screens/starsinthesky-2.jpg');
	}


	&--space {
		background-image: url('./../images/screens/nebula-2.png');
	}

}
