label {
	display: block;
	width: 100%;
	margin-bottom: $spacing;
	position: relative;

	span {
		font-weight: $font-weight-bold;
	}
}

.validation {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: $spacing / 4;

}

input, textarea {
	-webkit-appearance: none;
	display: block;
	margin-bottom: $spacing;
	padding: $spacing / 4;
	width: 100%;
	font-size: $font-size-base;
	font-family: $font-family;
	font-weight: $font-weight-base;
	color: $color-black;
	outline: none;

	border: 1px solid currentColor;
	box-shadow: 0 0 10px rgba($color-text-pink-dark, 0);
	transition: all .2s linear;

	&:empty {
		border: 1px solid currentColor;
	}

	&:valid {
		border: none;
		padding-left: $spacing;


		& + .validation::after {
			content: '✓ ';
		}
	}



	&:focus {
		color: $color-text-pink-dark;
		border: 1px solid currentColor;
		box-shadow: 0 0 4px rgba($color-text-pink-dark, .8);

	}
}


textarea {
	min-height: $spacing * 8;
	padding: $spacing / 4;

	&:valid {
		padding-left: 0;
	}

	&:focus {
		padding-left: $spacing / 4;
	}


}

input[type="submit"] {
	font-family: $font-family;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
}