.grid {
	padding-top: $spacing-half;

	@media only screen and (min-width: $lap-wide) { 
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		@include vendor(justify-content, space-between);
		@include vendor(align-items, stretch);
	}

}

.grid__column {
	//margin-top: -5px;
	margin-bottom: $spacing;
	//box-shadow: 0 -3px 6px -4px rgba(0,0,0, .4);

	@media only screen and (min-width: $lap-wide) { 
		@include vendor(flex-grow, 0);
		@include vendor(flex-basis, 32%);
		box-shadow: none;
		//margin-top: 0;
	
		&--1of2 { @include vendor(flex-basis, 48%); }

		&--1of3 { @include vendor(flex-basis, 32%); }
		&--2of3 { @include vendor(flex-basis, 65%); }

		&--1of4 { @include vendor(flex-basis, 24%); }
		&--3of4 { @include vendor(flex-basis, 74%); }
	
	}

}
