.grid {
	padding-top: $spacing-half;

	@media only screen and (min-width: $lap-wide) { 
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}

}

.grid__column {
	//margin-top: -5px;
	margin-bottom: $spacing / 4;
	//box-shadow: 0 -3px 6px -4px rgba(0,0,0, .4);

	@media only screen and (min-width: $lap-wide) { 
		flex-grow: 0;
		flex-basis: 32%;
		box-shadow: none;
		//margin-top: 0;
	
		&--1of2 { flex-basis: 48%; }

		&--1of3 { flex-basis: 30%; }
		&--2of3 { flex-basis: 65%; }

		&--1of4 { flex-basis: 24%; }
		&--3of4 { flex-basis: 74%; }
	
	}

}
