
h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	margin: 0 0 1.625em;
	line-height: $line-height-header;

	font-weight: $font-weight-header;
	color: $color-text-pink-dark;
}

h1, .h1 {
	margin-top: 0;
	margin-bottom: .6em;

	font-size: $font-size-header-main;
	font-weight: $font-weight-header-main;
}


h2, .h2 { 
	font-size: 1.424em;
}

h3, .h3 { 
	font-size: 1.266em; 
}

h4, .h4 { 
	font-size: 1.266em; 
}
