h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	margin: 0 0 $spacing-half 0;
	font-weight: $font-weight-header;
	line-height: $line-height-header;
	color: $color-text-pink-dark;
}

p {
	& + h1, 
	& + h2, 
	& + h3,
	& + h4 {
		margin-top: $spacing;
	}
}

h1, .h1 {
	font-size: $font-size-header-main;
	font-weight: $font-weight-header-main;
	margin-bottom: .625em;
}

h2, .h2 { 
	font-size: 1.2em;
}

h3, .h3 { 
	font-size: 1.1; 
}

h4, .h4 { 
	font-size: 1.1; 
}



