h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
	margin: 0 0 $spacing/4 0;
	font-weight: $font-weight-header;
	line-height: $line-height-header;

	@media only screen and (min-width: $lap) { 
		font-size: 0.8em;
	}
}

h1, .h1 {
	position: relative;
	font-size: $font-size-header;
	font-weight: $font-weight-header-main;
	margin-bottom: .625em;
}

// .bigtext {
// 	text-align: center;
// 	//display: none;
// 	font-size: $font-size-header;
// 	font-size: calc(1.4em + 1vw);
// 	//letter-spacing: -1vw;
// 	line-height: $line-height-header;
// 	margin-bottom: .625em;
// 	padding-right: $spacing-double;

// 	font-weight: $font-weight-header-main;
// 	font-weight: 700;
// 	color: darken($color-text-green, 10%);
// 	//color: rgb(110,110,110);
// 	//color: white;
// 	color: black;

// 	span {
// 		position: relative;
// 		display: inline;
// 		//background-color: black;
// 		//background: linear-gradient(transparent 60%, $color-text-pink-light 60%);
// 		padding: .5rem;
// 		border: 4px solid black;

// 		&::before {
// 			//content: linear-gradient(black, black);
// 			position: absolute;
// 			left: 0;
// 			top: 0;
// 			z-index: -1;
// 			height: 100%;
// 			width: 100%;
// 			transform: rotate(-1deg) translate3d(0, 0, 1px);

// 		}
// 		//color: black;
// 		//color: darken($color-text-green, 26%);
// 	}
// }

.heading--larger {
	line-height: $line-height-header;
	margin-bottom: 0;

	font-weight: $font-weight-header-main;

	@media only screen and (min-width: $lap) { 
		font-size: $font-size-header-large;
	}
}

	a.bigtext {
		text-decoration: none;
		border: none;
		color: $color-white;

		&:hover, &:focus {
			color: $color-white;
		}
	}

h2, .h2 { 
	font-size: 1.2em;
	margin-bottom: 0.625em;
}

h3, .h3 { 
	font-size: 1.1em; 
}

h4, .h4 { 
	font-size: 1em; 
	color: $color-black;
}

