a, .link {
	//color: $color-white;
	color: black;
	text-decoration: none;
	border-bottom: 1px solid;
	cursor: pointer;

	&:hover, &:focus {
		//color: $color-text-green;
		//border-bottom: none;
	}
}

.button {
	display: inline-block;
	padding: 0 $spacing-half;
	margin-bottom: $spacing / 8;

	background-color: $color-text-pink-dark;
	color: $color-white;
	font-weight: 700;
	font-size: 3em;

	border-bottom: none;
	border-radius: 2px;
	transition: background-color .1s linear;

	&:hover, &:focus {
		background-color: darken($color-text-pink-dark, 20%);
	}	
}
