a, .link {
	color: $color-text-pink-dark;
	text-decoration: none;
	border-bottom: 1px solid;


	&:hover, &:active, &:focus {
		color: $color-text-green;
	}

	&:visited {
		//color: $color-text-base;
	}
}

.linkblock {
	display: block;
	color: inherit;
	border: none;

	&:hover, &:active {
		color: inherit;
	}

 	&:focus {
 		color: $color-text-pink-dark;
 	}


	&:visited {
		color: inherit;
	}
}

.button {
	display: inline-block;
	padding: $spacing-half $spacing;
	margin: 0 $spacing-half $spacing 0;

	background-color: $color-text-pink-light;
	color: $color-white;
	border-bottom: none;
	border-radius: 3px;
	transition: all .2s linear;

	&:hover {
		color: $color-white;
		background-color: darken($color-text-pink-light, 10%);
	}
}