.page {
	padding: 2%;
	//max-width: 80em;
	background-color: rgba($color-text-blue-light, .15);

	@media only screen and (min-width: $lap) { 
		padding-left: 37%;
	}

	@media only screen and (min-width: $lap-wide) { 
		padding-left: 27%;
	}
}

main {
	padding: $spacing;
	background-color: $color-white;
	box-shadow: 0 0 2px rgba($color-black, .1);
	border-radius: 5px;
}


.page--home {
	@extend .screen--home;
	min-height: 0;
	height: 100%;
	max-width: none;

	@media only screen and (min-width: $lap) { 
		padding-top: 10%;
	}

	header {
		color: $color-white;
	}

	main {
		background-color: transparent;
		box-shadow: none;
		border-radius: none;
		padding: 0;
	}

}

