$font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica, Arial, sans-serif;

$font-weight-base: 			300; 
$font-weight-bold: 			500;
$font-weight-extra-bold:	700;


$font-size-base: 			1em;
//$line-height-base:			1.4;
$line-height-base:			1.5;
$font-size-mobile:			1.2em; 

$font-size-small: 			0.8em;
$line-height-small: 		$line-height-base;

$font-size-header-main: 	2.1em;
$font-weight-header-main: 	$font-weight-base;

$font-size-header:			1.6em;
$font-weight-header:		$font-weight-extra-bold;
$line-height-header:		1.2;

$font-size-huge: 			4rem;