$font-family: 'Whitney SSm A', 'Whitney SSm B', Helvetica Neue, Helvetica, Arial, sans-serif;

$font-weight-base: 			300; 
$font-weight-bold: 			500;
$font-weight-extra-bold:	700;


$font-size-base: 			1.2em;
$line-height-base:			2em;

$font-size-small: 			0.8em;
$line-height-small: 		$line-height-base / 2;

$font-size-header-main: 	2.4em;
$font-weight-header-main: 	$font-weight-base;

$font-size-header:			1.8em;
$font-weight-header:		$font-weight-bold;
$line-height-header:		$line-height-base / 2;

$font-size-huge: 			4.6rem;