.blocks {
	margin: 0 -4% 5% 0;
	overflow: hidden;

	&__item {
		position: relative;
		float: left;
	  	height: 0;
	  	margin: 0 4% 4% 0;

	  	&::after {
	  		//content: '';
	  		position: absolute;
	  		left: 0;
	  		top: 0;
	  		height: 100%;
	  		width: 100%;
	  		background-color: rgba($color-black, .3);
	  	}
	}

	&__content {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 9;
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
		
		&::before {
			content: '';
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}

		img {
			position: relative;
			z-index: 9;
			width: 50%;
			max-height: 90%;
			display: inline-block;
			vertical-align: middle;
		}
	}

	&__link {
		overflow: hidden;
		text-decoration: none;
		background-color: transparent;
		color: transparent;
		
		&::after {
			content: '';

			position: absolute;
			top: 100%;

			display: block;
			width: 100%;
			height: 100%;
			padding: $spacing-half;

			background: rgba($color-text-pink-dark, .6);
			
			@include vendor(transition, all .1s ease-in);

		}

		&:hover, &:focus {
			color: transparent;

			&::after {
				@include vendor(transform, translate3d(0%, -100%, 0));
				@include vendor(transition, all .3s ease-in);
			}
		}
	}
}

	.block-1x1 {
		width: 44%;	
		padding-bottom: 44%;

		@media only screen and (min-width: $lap-wide) { 
			width: 29%;	
			padding-bottom: 29.3%;
		}
	}

	.block-2x2 {
		width: 44%;	
		padding-bottom: 44%;

		@media only screen and (min-width: $lap-wide) { 
			width: 62%;
			padding-bottom: 62.4%;
		}
	}

	.block-3x1 {
		width: 100%;	
		padding-bottom: 20%;

		@media only screen and (min-width: $lap-wide) { 
			width: 100%;
			padding-bottom: 20%;
		}
	}