.credits-link {
	position: absolute;

	@media only screen and (min-width: $lap) { 
		position: fixed;
	}
	bottom: $spacing-half;
	right: $spacing-half;
	font-size: 62.5%;
	color: $color-text-green;
	text-decoration: none;
	border:none;

	&:hover, &:focus, &:visited {
		color: $color-text-green;
	}
}