.footer-block {
	padding: $spacing;
	margin: $spacing-double 0;
	background-color: $color-text-blue-light;
	border-radius: 3px;
	font-size: 80%;

	&__header {
		color: $color-black;
		margin-bottom: $spacing-half;
	}

	&__list {
		list-style-position: inside;
		padding-left: 0;
	}



}