.highlight {
	display: block;
	border: none;
	padding: $spacing;
	border-radius: 3px;
	transition: all 2s cubic-bezier(0,0,.48,1.5);
	background-color: $color-text-blue-light;
	color: $color-black;
	@include vendor(perspective-origin, top);
	@include vendor(transform-origin, top center);
	

	h3, a {
		border: none;
		color: $color-black;
	}

	&:hover, &:focus {
		box-shadow: 0 .5em 2em rgba(0,0,0, .4);
		//background-color: $color-text-pink-dark;
		color: $color-black;
		@include vendor(transform, perspective(40em) rotateX(2deg) scale(1.02));


		h3, a, .link {
			color: $color-black;
		}
	}

}
