$spinner-line-height: $spacing * 3;

.list-spinner {
	position: relative;
	font-size: 1em;
	font-weight: 300;


	margin: 0;
	padding: 0;
	width: 100%;
	height: $spacing * 3;
	overflow: hidden;

	line-height: $spinner-line-height;
	background-color: rgba($color-text-pink-dark ,.35);

	@media screen and (min-width: $lap-wide) {
		width: 75%;
		height: $spacing-double;
		font-size: 2em;
		@include vendor(transform, scale(0.6));
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: $spinner-line-height;
		@include vendor(animation, spinner-large 15s steps(1) infinite);

		@media screen and (min-width: $lap-wide) {
			@include vendor(animation, spinner 15s steps(1) infinite);
		}

		&:hover {
			@include vendor(animation-play-state, paused);
		}
	}

	li {
		display: block;
		position: relative;
		overflow: hidden;

		width: 100%;
		height: $spacing-double * 2;
		margin-bottom: $spacing-half;
		padding: 2px $spacing-double+$spacing 2px $spacing-half;
		line-height: $spacing;

		color: $color-white;


		@media screen and (min-width: $lap-wide) {
			height: $spacing-double;
			margin-bottom: $spacing;

			.is-safari & {
				margin-bottom: $spacing * 1.01;
			}
		}


		&::before, &::after {
			content: '';
			position: absolute;
			
			right: 0;
			z-index: 9;
			height: $spacing;
			width: $spacing;
			
			background-color: rgba($color-text-pink-dark,.8);
			
		}

		&:nth-child(1) {
			&::before {
				top: 0;
				width: $spacing-double;
			}

			&::after {
				top: $spacing;
				width: $spacing;
			}
		}

		&:nth-child(2) {
			&::before {
				top: 0;
				width: $spacing;
			}

			&::after {
				top: $spacing;
				width: $spacing-double;
			}
		}


		&:nth-child(3) {
			&::before {
				top: 0;
				right: $spacing;
				width: $spacing;
			}

			&::after {
				top: $spacing;
				width: $spacing-double;
			}
		}

		&:nth-child(4) {
			&::before {
				top: $spacing;
				right: $spacing;
				width: $spacing;
			}

			&::after {
				top: 0;
				width: $spacing-double;
			}
		}
	}
}



@keyframes spinner {
  0% {	margin-top: 0;		}
  24% {	margin-top: 0;		}
  25% {	margin-top: -($spinner-line-height);	}
  49% {	margin-top: -($spinner-line-height);	}
  50% {	margin-top: -($spinner-line-height) * 2;	}
  74% {	margin-top: -($spinner-line-height) * 2;	}
  75% {	margin-top: -($spinner-line-height) * 3;	}
  99% {	margin-top: -($spinner-line-height) * 3;	}
  100% { margin-top: 0em;	}
}

@-webkit-keyframes spinner {
  0% {	margin-top: 0;		}
  24% {	margin-top: 0;		}
  25% {	margin-top: -($spinner-line-height);	}
  49% {	margin-top: -($spinner-line-height);	}
  50% {	margin-top: -($spinner-line-height) * 2;	}
  74% {	margin-top: -($spinner-line-height) * 2;	}
  75% {	margin-top: -($spinner-line-height) * 3;	}
  99% {	margin-top: -($spinner-line-height) * 3;	}
  100% { margin-top: 0em;	}
}


@keyframes spinner-large {
  0% {	margin-top: 0;		}
  24% {	margin-top: 0;		}
  25% {	margin-top: -($spinner-line-height * 1.5);	}
  49% {	margin-top: -($spinner-line-height * 1.5);	}
  50% {	margin-top: -($spinner-line-height * 1.5) * 2;	}
  74% {	margin-top: -($spinner-line-height * 1.5) * 2;	}
  75% {	margin-top: -($spinner-line-height * 1.5) * 3;	}
  99% {	margin-top: -($spinner-line-height * 1.5) * 3;	}
  100% { margin-top: 0em;	}
}

@-webkit-keyframes spinner-large {
  0% {	margin-top: 0;		}
  24% {	margin-top: 0;		}
  25% {	margin-top: -($spinner-line-height * 1.5);	}
  49% {	margin-top: -($spinner-line-height * 1.5);	}
  50% {	margin-top: -($spinner-line-height * 1.5) * 2;	}
  74% {	margin-top: -($spinner-line-height * 1.5) * 2;	}
  75% {	margin-top: -($spinner-line-height * 1.5) * 3;	}
  99% {	margin-top: -($spinner-line-height * 1.5) * 3;	}
  100% { margin-top: 0em;	}
}

