.marker {
	position: relative;
	margin-bottom: $spacing;
	max-width: 8em;

	border-radius: 50%;
	border: 1em solid $color-text-pink-dark;
	
	&::after {
		content: '';
		position: absolute;

		top: 94%;

		width: 0; 
		height: 0; 

		/* Arrow pointing down */
		border-left: 3em solid transparent;
		border-right: 3em solid transparent;
		border-top: 3em solid $color-text-pink-dark;
	}
}
	.marker__image {
		position: relative;
		z-index: 9;
	}