.media-object {
	margin-bottom: $spacing-half;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
}

.media-object__body {
	flex: 1 0 0;
	margin: auto 0;
}

	.media-object__img {
		display: inline-block;
		margin: auto $spacing auto 0;
		@include vendor(flex-basis, 20%);
	}


