.sidebar {
	padding: 6%;
	margin: -6% -6% $spacing-double;
	position: relative;
	background-color: $color-black;

	@media only screen and (min-width: $lap) { 
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		z-index: 30;

		width: 35%;
		margin: 0;
		padding: 1rem;
	}

	@media only screen and (min-width: $lap-wide) { 
		width: 25%;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: linear-gradient(transparent 0%, rgba($color-black,.50) 96%);

		@media only screen and (min-width: $lap) { 
			background-image: linear-gradient(transparent 0%, transparent 50%, rgba($color-black,.50) 96%);
			z-index: -1;
		}
	}
}

.sidebar--home {
	background-color: transparent;
	&::after {

		background-image: linear-gradient(transparent 0%, rgba($color-black,.50) 96%);
		@media only screen and (min-width: $lap) { 
			background-image: linear-gradient(transparent 0%, transparent 30%, rgba($color-black,.75) 96%);
		}
		@media only screen and (min-width: $lap-wide) { 
			background-image: linear-gradient(transparent 0%, transparent 75%, rgba($color-black,.75) 96%);
		}
	}
}

	.sidebar--wide {

		@media only screen and (min-width: $lap) { 
			width: 40%;
		}

		@media only screen and (min-width: $lap-wide) { 
			width: 40%;
		}
	}