[role="banner"] {
	position: relative;
	z-index: 1;
	margin: 0;
	padding: $spacing;

	font-size: .8em;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media screen and (min-width: 40em) {
		display: block;
	}

	.page-chat & {
		background-color: rgb(240,240,240);
		padding: $spacing-half;
	}


	h1 {
		@media screen and (min-width: 20em) {
			max-width: 10em;
		}

		.page-chat & {
			max-width: 5em;
			margin-bottom: 0;
		}

		@media screen and (min-width: 40em) {
			width: 40%;
			max-width: 10em;
			flex: 1 0 40%;
		}

		img {
			width: 100%;
			max-width: 10em;
			max-width: 14rem;
			height: auto;
		}

		a {
			border: none;
		}

	}

	> p {
		flex: 0 1 50%;
		text-transform: uppercase;
		text-align: left;
		font-weight: 500;

		padding-top: $spacing / 4;
		background: linear-gradient(black 2px, transparent 2px);
		background-size: $spacing / 1.5 2px;
		background-repeat: no-repeat;

		@media screen and (min-width: 40em) {
			margin-bottom: 0;
		}

	}

}


[role="navigation"] {
	flex: 1 1 100%;

	padding: $spacing 0;
	background-color: rgb(240,240,240);
	//background-color: white;
	//display: none;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	//font-size: .8em;
	font-weight: 500;

	@media screen and (min-width: 40em) {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		justify-content: flex-end;
		padding: $spacing $spacing-double;
		padding: 2.5vw;
	}

	ul {
		//width: 100%;
		list-style: none;
		display: flex;
		justify-content: flex-start;
		margin: 0;
		padding: 0;

		// @media screen and (min-width: 40em) {
		// 	justify-content: flex-end;
		// }

	}

	li {
		margin: 0;
		padding: 0;
	}

	a {
		padding: $spacing / 4 $spacing / 4;
		margin: 0 $spacing-half 0 $spacing / -4;
		text-transform: uppercase;
		background: linear-gradient(black 99%, transparent 100%);
		background-size: $spacing / 1.5 2px;
		background-position: $spacing / 4 0;
		background-repeat: no-repeat;
		text-decoration: none;
		border: 0;

		@media screen and (min-width: 40em) {
			margin-left: 0;
		}

		&:hover, &:focus {
			outline: none;
			background-size: 100%;
			background-position: 0 0;
			color: white;
			transition: all .1s linear;
		}

	}


}
