@charset "UTF-8";
/*------------------------------------*\
    STYLE.SCSS
\*------------------------------------*/
/**
 * Here we start to pull everything together into one big stylesheet.
 *
 * SETUP............Settings, tools, mixins, etc.
 * GENERIC..........normalize.css, reset, shared styles, etc.
 * BASE.............Basic HTML elements.
 * OBJECTS..........Objects, abstractions, design patterns.
 * GUI..............Components and modules.
 * TRUMPS...........Helpers, overrides, ‘trump-cards’.
 */
/*------------------------------------*\
    #SETUP
\*------------------------------------*/
/**
 * Settings, variables and tools.
 */
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
/**
 * Pull in all the settings we require for this project.
 */
/* Sizes for media queries */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 * 
   `@include vendor(border-radius, 4px);`
 * 
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * These are far reaching styles that affect and underpin every element on the
 * page, e.g. `* {}`.
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * Pull in all our generic styles, e.g. resets.
 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

html {
  height: 100%;
  font-size: 100%;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  height: 100%;
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

[hidden] {
  display: none; }

b,
strong {
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

img {
  border: none;
  max-width: 100%; }

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none; }

figure {
  margin-bottom: 2em; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * These are base HTML elements, things with no classes on them, e.g. `h1 {}`,
 * `blockquote {}`.
 */
/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * Pull in all the base files we want.
 */
body {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 2em;
  color: black;
  text-rendering: optimizeLegibility; }

p {
  margin: 0 0 1.625em; }
  p.intro {
    font-weight: 500; }

small, .font-small {
  font-size: 0.8em;
  line-height: 1em; }

h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  margin: 0 0 1.625em;
  font-weight: 500;
  line-height: 1.33333em;
  color: #853371; }

h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.8125em;
  font-size: 2.4em;
  font-weight: 300; }

h2, .h2 {
  font-size: 1.424em; }

h3, .h3 {
  font-size: 1.266em; }

h4, .h4 {
  font-size: 1.266em; }

a {
  color: #853371; }
  a:hover, a:active {
    color: #e34dbd; }
  a:visited {
    color: black; }

.grid {
  text-align: justify;
  text-align-last: justify; }
  .grid::after {
    content: '';
    display: inline-block;
    width: 100%; }

.grid__column {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-align-last: left; }
  .grid__column--1of2 {
    width: 48%; }
  .grid__column--1of3 {
    width: 30%; }
  .grid__column--2of3 {
    width: 65%; }
  .grid__column--1of4 {
    width: 24%; }
  .grid__column--3of4 {
    width: 74%; }

.page {
  padding: 3% 5%; }
  @media only screen and (min-width: 30em) {
    .page {
      padding-left: 40%; } }
  @media only screen and (min-width: 50em) {
    .page {
      padding-left: 30%; } }

.page--home {
  padding-top: 10%; }
  @media only screen and (min-width: 30em) {
    .page--home {
      padding-left: 55%; } }
  @media only screen and (min-width: 50em) {
    .page--home {
      padding-left: 55%; } }

/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/
/**
 * These are design-free objects, abstractions and design patterns. These create
 * constructs that you lay your designs over.
 */
/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/
/**
 * Pull in all our objects and abstractions.
 */
/*
@import "layout",
	"box",
	"lists", 
	"media";
*/
.highlight--primary {
  border-top: 1px solid #b0c4d8;
  border-bottom: 1px solid #b0c4d8; }
  .highlight--primary h1, .highlight--primary h2, .highlight--primary h3, .highlight--primary h4, .highlight--primary a, .highlight--primary ul {
    color: black; }

.highlight--secondary {
  border-top: 1px solid #853371;
  border-bottom: 1px solid #853371; }
  .highlight--secondary h1, .highlight--secondary h2, .highlight--secondary h3, .highlight--secondary h4, .highlight--secondary a {
    color: white;
    border: none; }

.sidebar {
  padding: 6%;
  margin: -3% -6% 1em;
  position: relative; }
  @media only screen and (min-width: 30em) {
    .sidebar {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 30;
      width: 35%;
      margin: 0;
      padding: 3%; } }
  @media only screen and (min-width: 50em) {
    .sidebar {
      width: 25%; } }
  .sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0; }

@media only screen and (min-width: 30em) {
  .sidebar--wide {
    width: 50%; } }
@media only screen and (min-width: 50em) {
  .sidebar--wide {
    width: 50%; } }

.aside {
  position: relative;
  text-align: center;
  background-color: #b0c4d8;
  padding: .2em;
  border-radius: 2px; }
  @media only screen and (min-width: 30em) {
    .aside {
      float: right;
      max-width: 40%;
      margin-left: 1em; } }

.aside--nuon {
  background-color: #632e82;
  color: #fbe200; }

.aside--wvnl {
  padding: 0;
  background-color: none; }
  .aside--wvnl::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 3px;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #853371;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg); }
  .aside--wvnl .aside__content {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative; }

.aside__content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white; }

.mainquote {
  padding: 1em 0 0;
  margin: 0 0.8125em 0.8125em;
  font-style: italic;
  text-align: center; }

.quote-source {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2em; }

.quote-source:before,
.quote-source:after {
  content: "\2014"; }

.marker {
  position: relative;
  display: inline-block;
  margin-bottom: 2em;
  max-width: 8em;
  border-radius: 50%;
  border: 1em solid #853371;
  text-align: left; }
  .marker::after {
    content: '';
    position: absolute;
    top: 94%;
    width: 0;
    height: 0;
    /* Arrow pointing down */
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    border-top: 3em solid #853371; }

.marker__image {
  position: relative;
  z-index: 9; }

.profile-pic {
  display: block;
  border-radius: 50%; }

.logo {
  position: relative;
  z-index: 5; }

.blocks {
  margin: 0 -2% 5%;
  overflow: hidden; }
  .blocks__item {
    position: relative;
    float: left;
    height: 0;
    margin: 2%;
    background: url(./../images/screens/238403main_moon.jpg) no-repeat left top fixed;
    background-size: cover; }
    .blocks__item::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3); }
  .blocks__content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center; }
    .blocks__content::before {
      content: '';
      height: 100%;
      display: inline-block;
      vertical-align: middle; }
    .blocks__content img {
      width: 50%;
      display: inline-block;
      vertical-align: middle; }
  .blocks__link:hover {
    background-color: rgba(133, 51, 113, 0.5); }

.block-1x1 {
  width: 44%;
  padding-bottom: 44%; }
  @media only screen and (min-width: 50em) {
    .block-1x1 {
      width: 29%;
      padding-bottom: 29.5%; } }

.block-2x2 {
  width: 44%;
  padding-bottom: 44%; }
  @media only screen and (min-width: 50em) {
    .block-2x2 {
      width: 62%;
      padding-bottom: 62.5%; } }

/*------------------------------------*\
    #GUI
\*------------------------------------*/
/**
 * These are your components and modules; things like buttons, accordions,
 * carousels, etc.
 */
/*------------------------------------*\
    #GUI
\*------------------------------------*/
/**
 * Pull in all our GUI components.
 */
.screen--home {
  background: url("./../images/screens/baustelle_blau.jpg") no-repeat 100% 50%;
  background-size: cover; }

.screen--projecten {
  background: url("./../images/screens/10720790233_0dcc8f2df1_o.jpg") no-repeat 60% 50%;
  background-size: cover; }

.screen--single-project {
  background: url("./../images/screens/horizon.jpg") no-repeat 60% 50%;
  background-size: cover; }

.mainnav {
  position: relative;
  z-index: 5;
  list-style: none;
  padding: 0;
  margin: 2em 0 0 0; }
  @media only screen and (min-width: 30em) {
    .mainnav {
      position: absolute;
      bottom: 5%;
      left: 5%;
      right: 5%;
      margin-top: 0; } }

.mainnav__item {
  border-bottom: 1px solid #67c4d2;
  font-size: 0.8em; }
  .mainnav__item a {
    color: #67c4d2;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%; }
  .mainnav__item:hover {
    background: #67c4d2; }
    .mainnav__item:hover a {
      color: black; }

.mainnav__item--secondary {
  border-bottom: 1px solid #853371; }
  .mainnav__item--secondary a {
    color: #853371;
    text-decoration: none; }
  .mainnav__item--secondary:hover {
    background: #853371; }
    .mainnav__item--secondary:hover a {
      color: black; }

/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * These are helper classes and overrides that should take precedence over all
 * other styles, e.g. `.float--left {}`.
 */
/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * Pull in all our trumps and overrides.
 */
.center-content {
  text-align: center; }
