@charset "UTF-8";
/*------------------------------------*\
    STYLE.SCSS
\*------------------------------------*/
/**
 * Here we start to pull everything together into one big stylesheet.
 *
 * SETUP............Settings, tools, mixins, etc.
 * GENERIC..........normalize.css, reset, shared styles, etc.
 * BASE.............Basic HTML elements.
 * OBJECTS..........Objects, abstractions, design patterns.
 * GUI..............Components and modules.
 * TRUMPS...........Helpers, overrides, ‘trump-cards’.
 */
/*------------------------------------*\
    #SETUP
\*------------------------------------*/
/**
 * Settings, variables and tools.
 */
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
/**
 * Pull in all the settings we require for this project.
 */
/* Sizes for media queries */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 * 
   `@include vendor(border-radius, 4px);`
 * 
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * These are far reaching styles that affect and underpin every element on the
 * page, e.g. `* {}`.
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * Pull in all our generic styles, e.g. resets.
 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 100%;
  background-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 120%; }

body {
  height: 100%;
  margin: 0;
  padding: 3% 5%; }
  @media only screen and (min-width: 30em) {
    body {
      padding-left: 40%; } }
  @media only screen and (min-width: 50em) {
    body {
      padding-left: 30%; } }

header, footer, article, section {
  display: block; }

a {
  color: #853371; }
  a:hover, a:active {
    color: #e34dbd; }
  a:visited {
    color: black; }

img {
  max-width: 100%; }

h1 a, h2 a, h3 a, h4 a {
  text-decoration: none; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * These are base HTML elements, things with no classes on them, e.g. `h1 {}`,
 * `blockquote {}`.
 */
/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * Pull in all the base files we want.
 */
h1, h2, h3, h4,
.h1, .h2, .h3, .h4 {
  margin: 0 0 1.625em;
  line-height: 1.60444;
  font-weight: 500;
  color: #853371; }

h1, .h1 {
  margin-top: 0;
  margin-bottom: .6em;
  font-size: 2.4em;
  font-weight: 300; }

h2, .h2 {
  font-size: 1.424em; }

h3, .h3 {
  font-size: 1.266em; }

h4, .h4 {
  font-size: 1.266em; }

body {
  font-family: "Whitney SSm A", "Whitney SSm B", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 2em;
  color: black;
  text-rendering: optimizeLegibility; }

p {
  margin: 0 0 1.625em; }
  p.intro {
    font-weight: 500; }

small, .font_small {
  font-size: 0.889rem; }

/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/
/**
 * These are design-free objects, abstractions and design patterns. These create
 * constructs that you lay your designs over.
 */
/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/
/**
 * Pull in all our objects and abstractions.
 */
/*
@import "layout",
	"box",
	"lists", 
	"media";
*/
.highlight {
  margin-bottom: 2rem;
  position: relative;
  float: right;
  max-width: 40%;
  margin-left: 1em; }

.highlight--primary {
  border-top: 1px solid #b0c4d8;
  border-bottom: 1px solid #b0c4d8; }
  .highlight--primary h1, .highlight--primary h2, .highlight--primary h3, .highlight--primary h4, .highlight--primary a, .highlight--primary ul {
    color: black; }

.highlight--secondary {
  border-top: 1px solid #853371;
  border-bottom: 1px solid #853371; }
  .highlight--secondary h1, .highlight--secondary h2, .highlight--secondary h3, .highlight--secondary h4, .highlight--secondary a {
    color: white;
    border: none; }

.sidebar {
  padding: 6%;
  margin: -3% -6% 2em; }
  @media only screen and (min-width: 30em) {
    .sidebar {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 30;
      width: 35%;
      margin: 0;
      padding: 3%; } }
  @media only screen and (min-width: 50em) {
    .sidebar {
      width: 25%; } }

.mainquote {
  padding: 2em 0 0;
  margin: 0 .6em .6em;
  font-style: italic;
  text-align: center;
  color: #b0c4d8; }

.quote-source {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
  color: #b0c4d8; }

.quote-source:before,
.quote-source:after {
  content: "\2014"; }

/*------------------------------------*\
    #GUI
\*------------------------------------*/
/**
 * These are your components and modules; things like buttons, accordions,
 * carousels, etc.
 */
/*------------------------------------*\
    #GUI
\*------------------------------------*/
/**
 * Pull in all our GUI components.
 */
.screen-home {
  background: url("./../images/screens/horizon.jpg") no-repeat 60% 50%;
  background-size: cover; }

.mainnav {
  list-style: none;
  padding: 0;
  margin: 2em 0 0 0; }
  @media only screen and (min-width: 30em) {
    .mainnav {
      position: absolute;
      bottom: 5%;
      width: 76%;
      margin-top: 0; } }

.mainnav__item {
  border-bottom: 1px solid #67c4d2; }
  .mainnav__item a {
    color: #67c4d2;
    text-decoration: none; }
  .mainnav__item:hover {
    background: #67c4d2; }
    .mainnav__item:hover a {
      color: black; }

.mainnav__item--secondary {
  border-bottom: 1px solid #853371; }
  .mainnav__item--secondary a {
    color: #853371;
    text-decoration: none; }
  .mainnav__item--secondary:hover {
    background: #853371; }
    .mainnav__item--secondary:hover a {
      color: black; }

/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * These are helper classes and overrides that should take precedence over all
 * other styles, e.g. `.float--left {}`.
 */
/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * Pull in all our trumps and overrides.
 */
/*
@import "";


*/
