*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  margin: 0;
}

html {
	height: 100%;
	font-size: 100%;
	background-color: $color-page-background;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 120%;
}


body {
	height: 100%;
	margin: 0;
}

header, footer, article, section {
	display: block;
}


img {
	max-width: 100%;
}

h1, h2, h3, h4 {
	a {
		text-decoration: none;
	}
}

figure {
	margin-bottom: $spacing;
}
