*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;

  margin: 0;
}


html {
  height: 100%;
	font-size: 100%;
	background-color: $color-page-background;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

  @media only screen and (min-width: $lap-wide) { 
    //font-size: 100%;
  }
}


body {
	margin: 0;
}

html,body {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

[hidden] {
  display: none;
}

b,
strong {
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

img {
	border: none;
	max-width: 100%;
}

h1, h2, h3, h4 {
	a {
		text-decoration: none;
	}
}

figure {
	margin-bottom: $spacing;
}

hr {
  display: block;
  border: none;
  margin: $spacing-double 0;
  height: 1px;
  background-color: $color-text-pink-dark;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  
}

.borderless {
  border: none;
}

